language: node_js
node_js:
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
before_install: 
  - npm install
  - npm install -g grunt-cli
before_script:
  - npm rebuild
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: 
  - grunt test-travis
